---
- name: Install toolhive-operator-crds Helm chart
  kubernetes.core.helm:
    name: toolhive-operator-crds
    chart_ref: "{{ ocp4_workload_toolhive_helm_chart_crds }}"
    release_state: present
    release_namespace: "{{ ocp4_workload_toolhive_namespace }}"
    create_namespace: true

- name: Install toolhive-operator Helm chart
  kubernetes.core.helm:
    name: toolhive-operator
    chart_ref: "{{ ocp4_workload_toolhive_helm_chart_operator }}"
    release_namespace: "{{ ocp4_workload_toolhive_namespace }}"
    release_name: toolhive-operator
    release_state: present
    create_namespace: true
    release_values: "{{ lookup('template', 'values.yaml.j2') | from_yaml }}"
