apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: rhods-dashboard
  namespace: openshift-ingress
spec:
  host: data-science-gateway.{{ openshift_cluster_ingress_domain }}
  to:
    kind: Service
    name: rhods-dashboard
    weight: 100
  port:
    targetPort: https
  tls:
    termination: passthrough
  wildcardPolicy: None
